<div class="row">
    <mat-card *ngFor="let user of userList" class="col-md-5 offset-md-1">
        <mat-card-header>
            <mat-card-title>{{ user.title }} {{ user.firstName }} {{ user.lastName }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <img [src]="user.picture">

            <p>
                <button mat-raised-button color="primary" (click)="exibirUserdata(user.id)"> Editar
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                </button>
            </p>
        </mat-card-actions>
    </mat-card>
</div>