<div class="row">
    <mat-card *ngFor="let user of userList" class="col-md-5 offset-md-1">
        <mat-card-header>
            <mat-card-title>{{ user.title }} {{ user.firstName }} {{ user.lastName }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <div class="row">
                <img [src]="user.picture">
            </div>

            <div class="row-btn">
                <button mat-fab color="primary" aria-label="Icon para visualizar o Usuário"
                    (click)="viewUserdata(user.id)">
                    <mat-icon>visibility</mat-icon>
                </button>

                <button mat-fab color="accent" aria-label="Icon para editar o Usuário" (click)="editUserdata(user.id)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-fab color="warn" aria-label="Icon para excluir o Usuário" (click)="deleteUser(user.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </mat-card-actions>
    </mat-card>
</div>